
@{
    ViewBag.Title = "Sesion";
}

<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading">Login</div>
            <div class="panel-body">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">@@</span>
                    <input type="text" class="form-control" placeholder="usuario" aria-describedby="basic-addon1">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon2">@@</span>
                    <input type="password" class="form-control" placeholder="contrasena" aria-describedby="basic-addon2">
                </div>
                <button type="submit">Entrar</button>
            </div>
        </div>
    </div>
</div>